aiochannel==0.2.2
aiodns==1.1.1
aiofiles==0.3.1
aiohttp==2.2.1
aiohttp-sse==1.0.0
async-timeout==1.2.1
asyncoro==4.5.6
cchardet==2.1.1
chardet==3.0.4
fancycompleter==0.7
multidict==3.1.0
peony-twitter==1.0.1
pycares==2.1.1
Pygments==2.2.0
python-magic==0.4.13
websockets==3.3
wmctrl==0.3
yarl==0.11.0